{% extends 'blog/base.html' %}

{% block content %}
    <div class="col-md-12">
        <h1>Edit article</h1>
        <form method="post" action="{% url 'article_edit' article.slug %}">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
